{
  "openapi": "3.0.0",
  "info": {
    "title": "Prudra API",
    "version": "1.0.0",
    "description": "The Infrastructure Layer for Enterprise AI Agents.\n\n**Base URL:** `https://api.prudra.dev`\n\n**Authentication:** All endpoints require a Bearer token.\nPass your API key in the `Authorization` header:\n`Authorization: Bearer prv_live_sk_...`\n\nUse `prv_test_sk_...` keys for development.\nTest keys accept `PAYMENT_STUB_MODE` payments.",
    "contact": {
      "name": "Prudra Support",
      "email": "support@prudra.com",
      "url": "https://prudra.com"
    }
  },
  "servers": [
    {
      "url": "https://api.prudra.dev",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Prudra API Key",
        "description": "Your Prudra API key. Get one at dashboard.prudra.com/settings/api-keys"
      }
    },
    "schemas": {
      "LimitError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.prudra.dev/problems/payment-limit-reached"
          },
          "title": {
            "type": "string",
            "example": "Plan Limit Reached"
          },
          "status": {
            "type": "integer",
            "example": 429
          },
          "detail": {
            "type": "string",
            "example": "Your plan includes 100 payments per month. You have used 100."
          },
          "limit": {
            "type": "integer",
            "example": 100
          },
          "current": {
            "type": "integer",
            "example": 100
          },
          "upgradeUrl": {
            "type": "string",
            "example": "https://dashboard.prudra.com/settings/billing"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "limit",
          "current",
          "upgradeUrl"
        ]
      },
      "ProblemDetail": {
        "type": "object",
        "description": "RFC 9457 problem detail response",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ]
      },
      "MasterWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "mwt_abc123"
          },
          "address": {
            "type": "string",
            "example": "0x742d35Cc..."
          },
          "chain": {
            "type": "string",
            "example": "base"
          },
          "chainId": {
            "type": "integer",
            "example": 8453
          },
          "network": {
            "type": "string",
            "example": "mainnet"
          },
          "provisionStatus": {
            "type": "string",
            "example": "active"
          },
          "supportedTokens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "USDC"
            ]
          },
          "keyVersion": {
            "type": "string",
            "example": "v1_1746000000000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "address",
          "chain",
          "chainId",
          "network",
          "provisionStatus",
          "supportedTokens"
        ]
      },
      "ChildAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cad_xyz789"
          },
          "address": {
            "type": "string",
            "example": "0x..."
          },
          "derivationPath": {
            "type": "string",
            "example": "m/44'/60'/0'/0/1"
          },
          "masterWalletId": {
            "type": "string",
            "example": "mwt_abc123"
          },
          "name": {
            "type": "string",
            "example": "Customer A"
          }
        },
        "required": [
          "id",
          "address",
          "derivationPath",
          "masterWalletId"
        ]
      },
      "Vault": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "vlt_abc123"
          },
          "organisationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "sealed",
              "persisted",
              "expired"
            ]
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "sessionId": {
            "type": "string",
            "nullable": true
          },
          "ttl": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organisationId",
          "status",
          "createdAt"
        ]
      },
      "TransferResult": {
        "type": "object",
        "properties": {
          "txHash": {
            "type": "string",
            "example": "0xabc..."
          },
          "fromChain": {
            "type": "string",
            "example": "base"
          },
          "toChain": {
            "type": "string",
            "example": "polygon"
          },
          "fromToken": {
            "type": "string",
            "example": "USDC"
          },
          "toToken": {
            "type": "string",
            "example": "USDC"
          },
          "amount": {
            "type": "string",
            "example": "10.00"
          },
          "route": {
            "type": "string",
            "enum": [
              "direct",
              "lifi-swap",
              "lifi-bridge"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "pending"
            ]
          }
        },
        "required": [
          "txHash",
          "fromChain",
          "toChain",
          "fromToken",
          "toToken",
          "amount",
          "route",
          "status"
        ]
      },
      "WithdrawalResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "wdr_abc123"
          },
          "status": {
            "type": "string",
            "example": "pending_conversion"
          },
          "txHash": {
            "type": "string",
            "example": "0xabc..."
          },
          "amount": {
            "type": "string",
            "example": "100.00"
          },
          "token": {
            "type": "string",
            "example": "USDC"
          },
          "chain": {
            "type": "string",
            "example": "base"
          },
          "estimatedDays": {
            "type": "integer",
            "example": 3
          },
          "reference": {
            "type": "string",
            "example": "WD-1234567890"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "txHash",
          "amount",
          "token",
          "chain",
          "estimatedDays",
          "reference"
        ]
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "bac_abc123"
          },
          "accountName": {
            "type": "string",
            "example": "Vendlyst Ltd — Operations"
          },
          "currency": {
            "type": "string",
            "example": "GBP"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "accountName",
          "currency",
          "isActive"
        ]
      },
      "PaymentVerifyResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "paymentId": {
            "type": "string",
            "example": "pay_abc123"
          },
          "txHash": {
            "type": "string",
            "example": "0xabc..."
          },
          "amount": {
            "type": "string",
            "example": "0.01"
          },
          "coin": {
            "type": "string",
            "example": "USDC"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "x402",
              "mpp"
            ]
          },
          "settledAt": {
            "type": "string",
            "format": "date-time"
          },
          "settlementPending": {
            "type": "boolean"
          },
          "settlementToken": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "valid"
        ]
      },
      "ChallengeResponse": {
        "type": "object",
        "properties": {
          "mpp": {
            "type": "string",
            "nullable": true,
            "description": "WWW-Authenticate MPP challenge string"
          },
          "x402": {
            "type": "string",
            "nullable": true,
            "description": "X-PAYMENT-REQUIREMENTS base64 value"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "example": "sess_abc123"
          },
          "vaultId": {
            "type": "string",
            "example": "vlt_abc123"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "sessionId",
          "vaultId",
          "expiresAt"
        ]
      },
      "UsageReport": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "example": "pro"
          },
          "period": {
            "type": "string",
            "example": "2026-04"
          },
          "usage": {
            "type": "object",
            "description": "Current usage vs plan limits for each metric",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "used": {
                  "type": "integer"
                },
                "limit": {
                  "type": "integer",
                  "description": "-1 means unlimited"
                },
                "unlimited": {
                  "type": "boolean"
                },
                "percent": {
                  "type": "integer",
                  "nullable": true
                }
              }
            }
          },
          "features": {
            "type": "object",
            "properties": {
              "sessionPayments": {
                "type": "boolean"
              },
              "autoSweep": {
                "type": "boolean"
              },
              "gasless": {
                "type": "boolean"
              },
              "treasuryYield": {
                "type": "boolean"
              },
              "webhooks": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "plan",
          "period",
          "usage",
          "features"
        ]
      },
      "WalletBalance": {
        "type": "object",
        "properties": {
          "tokenSymbol": {
            "type": "string",
            "example": "USDC"
          },
          "formattedBalance": {
            "type": "string",
            "example": "100.00"
          },
          "rawBalance": {
            "type": "string",
            "example": "100000000"
          },
          "chain": {
            "type": "string",
            "example": "base"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "wh_abc123"
          },
          "url": {
            "type": "string",
            "example": "https://example.com/webhook"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "*"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "isActive"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "key_abc123"
          },
          "name": {
            "type": "string",
            "example": "Production key"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "createdAt"
        ]
      },
      "BYOWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "byw_abc123"
          },
          "address": {
            "type": "string",
            "example": "0x..."
          },
          "chain": {
            "type": "string",
            "example": "base"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "amlStatus": {
            "type": "string",
            "enum": [
              "pending",
              "clear",
              "flagged"
            ]
          },
          "supportedTokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "address",
          "chain",
          "isActive",
          "amlStatus"
        ]
      },
      "createChallengeSchema": {
        "type": "object",
        "properties": {
          "walletId": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "intent": {
            "type": "string",
            "enum": [
              "charge",
              "session"
            ],
            "default": "charge"
          },
          "acceptX402": {
            "type": "boolean",
            "default": true
          },
          "acceptMPP": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "walletId",
          "hostname",
          "price"
        ],
        "additionalProperties": false
      },
      "settlePaymentSchema": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "settlementToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "paymentId",
          "settlementToken"
        ],
        "additionalProperties": false
      },
      "verifyPaymentSchema": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "x402",
              "mpp"
            ]
          },
          "credential": {
            "type": "string",
            "minLength": 1
          },
          "price": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "walletId": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "default": "eip155:8453"
          }
        },
        "required": [
          "protocol",
          "credential",
          "price",
          "walletId",
          "resource"
        ],
        "additionalProperties": false
      },
      "addDocumentSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": false
          }
        },
        "required": [
          "name",
          "data"
        ],
        "additionalProperties": false
      },
      "createVaultSchema": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "ttl": {
            "type": "string",
            "pattern": "^\\d+(m|h|d)$",
            "default": "24h"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "default": {}
          }
        },
        "additionalProperties": false
      },
      "emitEventSchema": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "maxLength": 255
          },
          "payload": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "default": {}
          }
        },
        "required": [
          "event"
        ],
        "additionalProperties": false
      },
      "extendVaultSchema": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "string",
            "pattern": "^\\d+(m|h|d)$"
          }
        },
        "required": [
          "ttl"
        ],
        "additionalProperties": false
      },
      "issueTokenSchema": {
        "type": "object",
        "properties": {
          "expiresIn": {
            "type": "string",
            "pattern": "^\\d+(m|h|d)$",
            "default": "24h"
          }
        },
        "additionalProperties": false
      },
      "persistVaultSchema": {
        "type": "object",
        "properties": {
          "removeExpiry": {
            "type": "boolean",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "sealVaultSchema": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "additionalProperties": false
      },
      "provisionWalletSchema": {
        "type": "object",
        "properties": {
          "coin": {
            "type": "string",
            "enum": [
              "USDC_E",
              "USDC",
              "USDT"
            ],
            "default": "USDC_E"
          }
        },
        "additionalProperties": false
      },
      "withdrawSchema": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)?$"
          },
          "coin": {
            "type": "string",
            "enum": [
              "USDC_E",
              "USDC",
              "USDT"
            ],
            "default": "USDC_E"
          }
        },
        "required": [
          "to",
          "amount"
        ],
        "additionalProperties": false
      },
      "createWebhookSchema": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "maxItems": 50
          },
          "secret": {
            "type": "string",
            "minLength": 16
          }
        },
        "required": [
          "url",
          "events"
        ],
        "additionalProperties": false
      },
      "updateWebhookSchema": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "maxItems": 50
          }
        },
        "additionalProperties": false
      },
      "createSessionSchema": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "minimum": 60,
            "maximum": 604800,
            "default": 86400
          }
        },
        "required": [
          "paymentId"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment verification and challenge generation"
    },
    {
      "name": "Sessions",
      "description": "Multi-step session payment management"
    },
    {
      "name": "Vaults",
      "description": "Persistent agent workspace storage"
    },
    {
      "name": "Wallets",
      "description": "Managed wallet provisioning and BYO wallet registration"
    },
    {
      "name": "Transfers",
      "description": "Token transfers between addresses"
    },
    {
      "name": "Withdrawals",
      "description": "Fund withdrawals to bank accounts"
    },
    {
      "name": "Webhooks",
      "description": "Outbound event delivery"
    },
    {
      "name": "Billing",
      "description": "Usage monitoring and plan management"
    },
    {
      "name": "Organisation",
      "description": "API key and organisation management"
    },
    {
      "name": "Account",
      "description": "Account profile and organisation payment logs"
    },
    {
      "name": "Registry",
      "description": "Pay-walled route registry snapshots"
    },
    {
      "name": "Chains",
      "description": "Supported chain and token metadata"
    },
    {
      "name": "Organisation wallet",
      "description": "Legacy Tempo receiving wallet (single wallet per org)"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get current account",
        "operationId": "getAccountRoute",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "summary": "Account usage (organisation)",
        "operationId": "getAccountUsageRoute",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Usage metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/account/payment-logs/summary": {
      "get": {
        "summary": "Payment log summary (account scope)",
        "operationId": "getAccountPaymentLogSummary",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Aggregated stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/account/payment-logs": {
      "get": {
        "summary": "List payment logs (account scope)",
        "operationId": "listAccountPaymentLogs",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Paginated logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/account/payment-logs/{paymentLogId}": {
      "get": {
        "summary": "Get one payment log",
        "operationId": "getAccountPaymentLogById",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "paymentLogId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment log entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/billing/usage": {
      "get": {
        "summary": "Get current usage",
        "description": "Usage for the current billing period against plan limits, plus enabled features.",
        "operationId": "getUsage",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Usage report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageReport"
                }
              }
            }
          }
        }
      }
    },
    "/billing/plan": {
      "get": {
        "summary": "Get current plan",
        "description": "Plan name, feature flags, and limit values (lighter than /billing/usage for some clients).",
        "operationId": "getPlan",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Plan summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/billing/rebuild-cache": {
      "post": {
        "summary": "Rebuild usage cache",
        "description": "Rebuilds Redis usage counters from Postgres for the authenticated organisation.",
        "operationId": "rebuildBillingCache",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Cache rebuilt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rebuilt": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations": {
      "post": {
        "summary": "Create an organisation",
        "operationId": "createOrganisation",
        "tags": [
          "Organisation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "personal",
                      "company"
                    ],
                    "default": "personal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organisation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/current": {
      "get": {
        "summary": "Get current organisation",
        "operationId": "getCurrentOrganisation",
        "tags": [
          "Organisation"
        ],
        "responses": {
          "200": {
            "description": "Organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update current organisation",
        "operationId": "updateCurrentOrganisation",
        "tags": [
          "Organisation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/current/usage": {
      "get": {
        "summary": "Usage metrics for current organisation",
        "operationId": "getOrganisationUsageMetrics",
        "tags": [
          "Organisation"
        ],
        "responses": {
          "200": {
            "description": "Usage metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/current/members": {
      "get": {
        "summary": "List organisation members",
        "operationId": "listOrganisationMembers",
        "tags": [
          "Organisation"
        ],
        "responses": {
          "200": {
            "description": "Members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a member",
        "operationId": "addOrganisationMember",
        "tags": [
          "Organisation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member"
                    ],
                    "default": "member"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/current/members/{accountId}": {
      "patch": {
        "summary": "Update a member role",
        "operationId": "updateOrganisationMember",
        "tags": [
          "Organisation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated"
          }
        }
      },
      "delete": {
        "summary": "Remove a member",
        "operationId": "removeOrganisationMember",
        "tags": [
          "Organisation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          }
        }
      }
    },
    "/organisations/{orgId}/api-keys": {
      "post": {
        "summary": "Create an API key",
        "description": "The raw key is returned once — store it securely. Caller must be a member of the organisation.\n",
        "operationId": "createApiKey",
        "tags": [
          "Organisation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Production key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "prv_live_sk_...",
                          "description": "Raw API key — shown once only"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "operationId": "listApiKeys",
        "tags": [
          "Organisation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys (secrets not returned)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/api-keys/{keyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "description": "Only owner or admin roles may revoke. Members receive 403.",
        "operationId": "revokeApiKey",
        "tags": [
          "Organisation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "keyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/payments/challenge": {
      "post": {
        "summary": "Generate a dual payment challenge",
        "description": "Generates both an MPP (WWW-Authenticate) and x402 (PAYMENT-REQUIRED)\nchallenge for a pay-walled endpoint. Called internally by the Prudra\nExpress SDK's payMiddleware — developers do not call this directly.\n\nRate limited to 20 requests per IP per 60 seconds.\n",
        "operationId": "createPaymentChallenge",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walletId",
                  "hostname",
                  "price"
                ],
                "properties": {
                  "walletId": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "intent": {
                    "type": "string",
                    "enum": [
                      "charge",
                      "session"
                    ],
                    "default": "charge"
                  },
                  "acceptX402": {
                    "type": "boolean",
                    "default": true
                  },
                  "acceptMPP": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Wallet not found or not in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Challenge rate limit exceeded"
          }
        }
      }
    },
    "/payments/verify": {
      "post": {
        "summary": "Verify a payment credential",
        "description": "Verifies an x402 or MPP payment credential in the request body.\nCreates a Payment record on success. For x402, returns a settlementToken for use\nwith POST /payments/settle after work is completed.\n",
        "operationId": "verifyPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "protocol",
                  "credential",
                  "price",
                  "walletId",
                  "resource"
                ],
                "properties": {
                  "protocol": {
                    "type": "string",
                    "enum": [
                      "x402",
                      "mpp"
                    ]
                  },
                  "credential": {
                    "type": "string",
                    "description": "Raw payment credential (x402 X-PAYMENT payload or MPP proof)"
                  },
                  "price": {
                    "type": "string",
                    "example": "0.01"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "walletId": {
                    "type": "string",
                    "example": "byw_abc123"
                  },
                  "resource": {
                    "type": "string",
                    "example": "/analyse"
                  },
                  "description": {
                    "type": "string"
                  },
                  "network": {
                    "type": "string",
                    "example": "eip155:8453"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentVerifyResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Replay detected (duplicate transaction)"
          },
          "422": {
            "description": "Wallet not found"
          },
          "429": {
            "description": "Payment plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      }
    },
    "/payments/settle": {
      "post": {
        "summary": "Settle an x402 payment on-chain",
        "description": "Called after the server has completed its work following a successful\nPOST /payments/verify. Submits the ERC-3009 authorization to chain.\nMoving funds from the agent wallet to the receiving wallet.\n\nOnly used for x402. MPP is settled at verification time.\n",
        "operationId": "settlePayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentId",
                  "settlementToken"
                ],
                "properties": {
                  "paymentId": {
                    "type": "string",
                    "example": "pay_abc123"
                  },
                  "settlementToken": {
                    "type": "string",
                    "description": "Base64 token returned from POST /payments/verify"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment settled on-chain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txHash": {
                      "type": "string",
                      "example": "0xabc..."
                    },
                    "settledAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/logs": {
      "get": {
        "summary": "List payment logs",
        "description": "Paginated payment activity for the authenticated organisation (query params passed through to the service).",
        "operationId": "listPaymentLogs",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Paginated payment logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/logs/summary": {
      "get": {
        "summary": "Payment log summary by route",
        "description": "Aggregated stats per pay-walled route for the organisation.",
        "operationId": "getPaymentLogSummary",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "summary": "Get payment by ID",
        "operationId": "getPaymentByIdRoute",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/registry/snapshots": {
      "post": {
        "summary": "Submit route registry snapshot",
        "description": "Internal endpoint used by the SDK to register observed pay-walled routes and metadata\nfor the authenticated organisation.\n",
        "operationId": "ingestRouteRegistrySnapshot",
        "tags": [
          "Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "host",
                  "method",
                  "routePattern",
                  "headers",
                  "queryParams",
                  "bodyParams",
                  "bodyContentType",
                  "amount",
                  "protocol"
                ],
                "properties": {
                  "host": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "routePattern": {
                    "type": "string"
                  },
                  "headers": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "queryParams": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "bodyParams": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "bodyContentType": {
                    "type": "string",
                    "nullable": true
                  },
                  "amount": {
                    "type": "string"
                  },
                  "protocol": {
                    "type": "string"
                  },
                  "paymentLogId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Snapshot accepted"
          }
        }
      }
    },
    "/sessions": {
      "post": {
        "summary": "Create a payment session",
        "description": "Creates a new payment session and its linked vault atomically.\nCalled by payMiddleware after a successful payment when session\nmode is enabled.\n",
        "operationId": "createSession",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentId"
                ],
                "properties": {
                  "paymentId": {
                    "type": "string"
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Session TTL in seconds",
                    "default": 86400
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Session payments not available on plan"
          }
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "summary": "Get a payment session",
        "description": "Retrieves an existing payment session by ID, scoped to the\nauthenticated organisation.\n",
        "operationId": "getSession",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sess_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Session found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SessionResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "isExpired": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Session not found or expired"
          }
        }
      }
    },
    "/vaults": {
      "post": {
        "summary": "Create a vault",
        "description": "Creates a new vault — a persistent workspace for agent task output.\nTTL defaults from server config; use ttl for a custom duration (e.g. 24h, 7d).\n",
        "operationId": "createVault",
        "tags": [
          "Vaults"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "ttl": {
                    "type": "string",
                    "description": "Duration like 12h, 7d, 30m",
                    "example": "24h"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vault created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            }
          },
          "429": {
            "description": "Active vault plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      }
    },
    "/vaults/quota": {
      "get": {
        "summary": "Vault quota status",
        "description": "Plan limits and current vault usage for the organisation.",
        "operationId": "getVaultQuota",
        "tags": [
          "Vaults"
        ],
        "responses": {
          "200": {
            "description": "Quota status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/vaults/{id}": {
      "get": {
        "summary": "Get a vault",
        "description": "Full vault state and manifest (requires vault access token or API key per middleware).",
        "operationId": "getVault",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vault found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Vault not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a vault",
        "description": "Permanently removes the vault and associated contents.",
        "operationId": "deleteVaultRoute",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Vault deleted"
          }
        }
      }
    },
    "/vaults/{id}/files": {
      "post": {
        "summary": "Upload a file to a vault",
        "description": "Accepts multipart form data with field `file`. Returns upload instructions / result\n(pre-signed URL flow) for storing content in object storage.\n",
        "operationId": "uploadVaultFile",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File registered for upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "No file uploaded"
          },
          "429": {
            "description": "File too large or storage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      }
    },
    "/vaults/{id}/documents": {
      "post": {
        "summary": "Add a document to a vault",
        "operationId": "addVaultDocument",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "data"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Summarisation result"
                  },
                  "data": {
                    "type": "object",
                    "description": "Structured document content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document added"
          },
          "409": {
            "description": "Vault is sealed"
          }
        }
      }
    },
    "/vaults/{id}/emit": {
      "post": {
        "summary": "Emit a vault event",
        "description": "Records an event on the vault for streaming and history.",
        "operationId": "emitVaultEvent",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event"
                ],
                "properties": {
                  "event": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "object",
                    "default": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          }
        }
      }
    },
    "/vaults/{id}/seal": {
      "post": {
        "summary": "Seal a vault",
        "description": "Permanently closes the vault to further writes.\nA sealed vault is read-only.\n",
        "operationId": "sealVault",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vault sealed"
          },
          "409": {
            "description": "Vault is already sealed"
          }
        }
      }
    },
    "/vaults/{id}/persist": {
      "post": {
        "summary": "Persist a vault",
        "description": "Opts the vault into permanent storage so it no longer expires.",
        "operationId": "persistVault",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "removeExpiry": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vault persisted"
          },
          "409": {
            "description": "Vault is already sealed or persisted"
          },
          "429": {
            "description": "Persisted vault plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      }
    },
    "/vaults/{id}/extend": {
      "post": {
        "summary": "Extend vault TTL",
        "operationId": "extendVaultTtl",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ttl"
                ],
                "properties": {
                  "ttl": {
                    "type": "string",
                    "description": "Duration like 12h, 7d, 30m",
                    "example": "48h"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TTL updated"
          }
        }
      }
    },
    "/vaults/{id}/tokens": {
      "post": {
        "summary": "Issue a vault access token",
        "description": "Short-lived token for vault-scoped access (e.g. for clients without the org API key).",
        "operationId": "issueVaultAccessToken",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expiresIn": {
                    "type": "string",
                    "description": "Duration like 24h, 7d",
                    "default": "24h"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/vaults/{id}/events": {
      "get": {
        "summary": "Subscribe to vault events (SSE)",
        "description": "Server-Sent Events stream for vault activity. Optional query `from` (ISO timestamp)\nreplays events after that time.\n",
        "operationId": "subscribeVaultEvents",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Replay events after this ISO timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/me": {
      "get": {
        "summary": "Get organisation receiving wallet (legacy)",
        "description": "Returns the legacy single-wallet record for Tempo / stablecoin payouts (not wallet-infra managed wallets).",
        "operationId": "getOrganisationWalletMe",
        "tags": [
          "Organisation wallet"
        ],
        "responses": {
          "200": {
            "description": "Wallet record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallets": {
      "post": {
        "summary": "Provision receiving wallet (legacy)",
        "description": "Idempotently provisions the org's legacy Tempo wallet for the given coin.",
        "operationId": "provisionOrganisationWallet",
        "tags": [
          "Organisation wallet"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "coin": {
                    "type": "string",
                    "enum": [
                      "USDC_E",
                      "USDC",
                      "USDT"
                    ],
                    "default": "USDC_E"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet provisioned or returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/me/balance": {
      "get": {
        "summary": "Legacy wallet balance",
        "description": "Live stablecoin balance for the org receiving wallet.",
        "operationId": "getOrganisationWalletBalance",
        "tags": [
          "Organisation wallet"
        ],
        "responses": {
          "200": {
            "description": "Balance payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/me/history": {
      "get": {
        "summary": "Legacy wallet payment history",
        "operationId": "getOrganisationWalletHistory",
        "tags": [
          "Organisation wallet"
        ],
        "responses": {
          "200": {
            "description": "Paginated history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/withdraw": {
      "post": {
        "summary": "Withdraw from legacy receiving wallet",
        "description": "Queues a stablecoin withdrawal from the org wallet to an EVM address.",
        "operationId": "withdrawOrganisationWallet",
        "tags": [
          "Organisation wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "amount"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Destination 0x address"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Decimal amount string"
                  },
                  "coin": {
                    "type": "string",
                    "enum": [
                      "USDC_E",
                      "USDC",
                      "USDT"
                    ],
                    "default": "USDC_E"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Withdrawal accepted / processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Registered webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register a webhook",
        "description": "HTTPS endpoint for outbound events. The response may include a `secret` once\nfor HMAC verification (X-Prudra-Signature on deliveries).\n",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://example.com/webhooks/prudra"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "*"
                    ]
                  },
                  "secret": {
                    "type": "string",
                    "description": "Optional custom signing secret (min length enforced by API)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Webhooks not available on plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "patch": {
        "summary": "Update a webhook",
        "operationId": "updateWebhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "deleteWebhookRoute",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/webhooks/{id}/replay/{eventId}": {
      "post": {
        "summary": "Replay a webhook delivery",
        "operationId": "replayWebhookEventRoute",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Replay queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}/deliveries": {
      "get": {
        "summary": "List webhook delivery attempts",
        "operationId": "listWebhookDeliveriesRoute",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/byo-wallets": {
      "post": {
        "summary": "Register a BYO wallet",
        "description": "Registers an existing EVM wallet address for Prudra monitoring.\nPrudra never holds custody — it monitors deposits via webhooks.\n",
        "operationId": "registerBYOWallet",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address",
                  "chain",
                  "supportedTokens"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "0x742d35Cc..."
                  },
                  "chain": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum",
                      "optimism",
                      "arbitrum",
                      "polygon",
                      "tempo",
                      "base-sepolia",
                      "eth-sepolia",
                      "tempo-moderato"
                    ]
                  },
                  "supportedTokens": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "USDC"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BYOWallet"
                }
              }
            }
          },
          "409": {
            "description": "Wallet already registered"
          },
          "429": {
            "description": "BYO wallet plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List BYO wallets",
        "operationId": "listBYOWallets",
        "tags": [
          "Wallets"
        ],
        "responses": {
          "200": {
            "description": "Registered BYO wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BYOWallet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/byo-wallets/{id}": {
      "get": {
        "summary": "Get a BYO wallet",
        "operationId": "getBYOWallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BYO wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BYOWallet"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found"
          }
        }
      },
      "delete": {
        "summary": "Deregister a BYO wallet",
        "description": "Stops monitoring the address for this organisation.",
        "operationId": "deregisterBYOWallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Wallet deregistered"
          },
          "404": {
            "description": "Wallet not found"
          }
        }
      }
    },
    "/wallet-infra/byo-wallets/{id}/transactions": {
      "get": {
        "summary": "List BYO wallet transactions",
        "operationId": "getBYOWalletTransactions",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tokenSymbol",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/byo-wallets/{id}/balances": {
      "get": {
        "summary": "Get BYO wallet balances",
        "operationId": "getBYOWalletBalances",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletBalance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/chains/{chain}/tokens": {
      "get": {
        "summary": "List supported tokens for a chain",
        "operationId": "getSupportedTokensForChainRoute",
        "tags": [
          "Chains"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chain slug (e.g. base, ethereum, tempo)"
          }
        ],
        "responses": {
          "200": {
            "description": "Token metadata for routing and display",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/webhooks/alchemy": {
      "post": {
        "summary": "Alchemy ADDRESS_ACTIVITY webhook (inbound)",
        "description": "Called by Alchemy with webhook payloads. Not authenticated with Prudra API keys —\nAlchemy signs requests; the server acknowledges immediately and processes asynchronously.\n",
        "operationId": "alchemyWebhookInbound",
        "tags": [
          "Webhooks"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/master-wallets": {
      "post": {
        "summary": "Provision a managed master wallet",
        "description": "Provisions a new managed master wallet for the organisation.\nPrudra generates and custodies the private key using Google Cloud KMS\n(HSM-backed). Each organisation uses a master seed from which\nwallet addresses are derived on each supported chain.\n",
        "operationId": "provisionMasterWallet",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "chain",
                  "supportedTokens"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Primary wallet"
                  },
                  "chain": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum",
                      "optimism",
                      "arbitrum",
                      "polygon",
                      "tempo",
                      "base-sepolia",
                      "eth-sepolia",
                      "tempo-moderato"
                    ]
                  },
                  "supportedTokens": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "USDC"
                    ]
                  },
                  "network": {
                    "type": "string",
                    "enum": [
                      "mainnet",
                      "testnet"
                    ],
                    "default": "mainnet"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterWallet"
                }
              }
            }
          },
          "429": {
            "description": "Managed wallet or chain limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List managed wallets",
        "operationId": "listMasterWallets",
        "tags": [
          "Wallets"
        ],
        "responses": {
          "200": {
            "description": "List of managed wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MasterWallet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/master-wallets/{id}": {
      "get": {
        "summary": "Get a managed wallet",
        "operationId": "getMasterWallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterWallet"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found"
          }
        }
      }
    },
    "/wallet-infra/master-wallets/{id}/child-addresses": {
      "post": {
        "summary": "Derive a child address",
        "description": "Derives a new child address from a master wallet using HD derivation.\n",
        "operationId": "deriveChildAddress",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Child address derived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChildAddress"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List child addresses",
        "operationId": "listChildAddresses",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Child addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChildAddress"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/master-wallets/{id}/balances": {
      "get": {
        "summary": "Get managed wallet balances",
        "operationId": "getMasterWalletBalances",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletBalance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/master-wallets/{id}/transactions": {
      "get": {
        "summary": "List wallet transactions",
        "operationId": "getMasterWalletTransactions",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/transfer": {
      "post": {
        "summary": "Send a token transfer",
        "description": "Transfers tokens from a managed wallet (master or child) to a destination\naddress. Routing (direct transfer, swap, bridge) is selected automatically from\nfromChain, fromToken, toChain, and toToken.\n",
        "operationId": "transferTokens",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromWalletId",
                  "fromWalletType",
                  "fromChain",
                  "fromToken",
                  "toAddress",
                  "toChain",
                  "toToken",
                  "amount"
                ],
                "properties": {
                  "fromWalletId": {
                    "type": "string",
                    "example": "mwt_abc123"
                  },
                  "fromWalletType": {
                    "type": "string",
                    "enum": [
                      "master",
                      "child"
                    ]
                  },
                  "fromChain": {
                    "type": "string",
                    "enum": [
                      "base",
                      "ethereum",
                      "optimism",
                      "arbitrum",
                      "polygon",
                      "tempo",
                      "base-sepolia",
                      "eth-sepolia",
                      "tempo-moderato"
                    ]
                  },
                  "fromToken": {
                    "type": "string",
                    "example": "USDC"
                  },
                  "toAddress": {
                    "type": "string",
                    "example": "0x..."
                  },
                  "toChain": {
                    "type": "string"
                  },
                  "toToken": {
                    "type": "string",
                    "example": "USDC"
                  },
                  "amount": {
                    "type": "string",
                    "example": "10.00",
                    "description": "Human-readable decimal amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer complete or initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "402": {
            "description": "Insufficient balance"
          },
          "404": {
            "description": "Wallet not found"
          },
          "422": {
            "description": "Unsupported chain or token"
          }
        }
      }
    },
    "/wallet-infra/bank-accounts": {
      "post": {
        "summary": "Add a bank account",
        "operationId": "addBankAccount",
        "tags": [
          "Withdrawals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountName"
                ],
                "properties": {
                  "accountName": {
                    "type": "string"
                  },
                  "sortCode": {
                    "type": "string",
                    "description": "UK sort code"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "routingNumber": {
                    "type": "string",
                    "description": "US ABA routing number"
                  },
                  "iban": {
                    "type": "string"
                  },
                  "swiftBic": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "default": "GBP"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank account registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List bank accounts",
        "operationId": "listBankAccounts",
        "tags": [
          "Withdrawals"
        ],
        "responses": {
          "200": {
            "description": "Bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet-infra/bank-accounts/{id}": {
      "delete": {
        "summary": "Remove a bank account",
        "operationId": "deleteBankAccount",
        "tags": [
          "Withdrawals"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Bank account removed"
          }
        }
      }
    },
    "/wallet-infra/withdraw": {
      "post": {
        "summary": "Request a withdrawal to bank",
[...]
